/* metric styling */
div.css-1r6slb0.e1tzin5v2 {
    background-color: rgba(28, 131, 225, 0.1); /* Set background color (optional) */
    border: 1px solid rgba(28, 131, 225, 0.5); /* Set border style, width, and color */
    padding: 5% 5% 5% 10%; /* Adjust padding (optional) */
    border-radius: 5px; /* Add rounded corners (optional) */
    color: rgb(14, 211, 255); /* Set text color (optional) */
  }
  